<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holi</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'indexStyles.css' %}">-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static  'style.css'%}">
</head>
<body>


    <div class="content">
        <form action="/putItem/" name="formulario" method="GET" class="formulario">
            <!-- Datos del formulario -->
                  <div><p>Nombre del producto:</p><input type="text" name="prod_name" required></div>
                  <div><p>Contenedor:</p> <input type="text" name="container" required></div>
                  <div><p>Comprador(es):</p> <input type="text" name="buyer" required></div>
                  <div><p>Condicion:</p> <input type="text" name="condition" required></div>
                  <div><p>Dueño:</p> <input type="text" name="owner" required></div>
                  <div><p>Precio:</p> <input type="text" name="price" required></div>
                  <div><p>Vendido(s):</p> <input type="text" name="sold" required></div>
                  <div><p>Cantidad:</p> <input type="text" name="stock" required></div>
            <!-- Botón de envío de formulario -->
                  <div class="btnGroup"><button>Subir</button></div>
          </form>
    
        <div class="prodgroup">
            <h1>Ver productos</h1>
            <table>
                <tr>
                    <th>Contenedor</th>
                    <th>Nombre Producto</th>
                    <th>Compradores</th>
                    <th>Condicion</th>
                    <th>Dueño</th>
                    <th>Precio</th>
                    <th>Estado de Venta</th>
                    <th>Disponibles</th>
                </tr>
                {% for el in group %}
                <tr>
                        <td>{{el.container}}</td>
                        <td>{{el.prod_name}}</td>
                        <td>{{el.buyer}}</td>
                        <td>{{el.condition}}</td>
                        <td>{{el.owner}}</td>
                        <td>{{el.sold}}</td>
                        {% if el.stock == 0 %}
                        <td>Disponible</td>
                        {% else %}
                        <td>Agotado</td>
                        {% endif %}
                        <td>{{el.price}}</td>
                    </tr>
                {% endfor %}
            </table>
            
            <h2>init</h2>
            {% if exist %}
            <p>existe</p>
            {% else %}
            <p>desaparece</p>
            {% endif %}
        </div>

        
        <form  action="/find/" method="GET">
            <input type="text" name="test">
            <button type="submit" >encuentra</button>
        </form>
        {{some}}
        <script src="{% static  'function.js'%}"></script>
    </div>
</html>