<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holi</title>
</head>
<body>

    <form name="formulario" method="" action="" onClick="alert('')">
  <!-- Datos del formulario -->
        <p>Contenedor: <input type="text" name="container" required></p>
    <p>Nombre del producto: <input type="text" name="prod_name" required></p>
    <p>Comprador(es): <input type="text" name="buyer" required></p>
    <p>Condicion: <input type="text" name="condition" required></p>
    <p>Dueño: <input type="text" name="owner" required></p>
    <p>Precio: <input type="text" name="price" required></p>
    <p>Vendido(s): <input type="text" name="sold" required></p>
    <p>Cantidad: <input type="text" name="stock" required></p>
  <!-- Botón de envío de formulario -->
  <input type="submit" value="Enviar formulario" />
</form>

</body>
</html>