<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holi</title>
</head>
<body>
    <h1>Hola Alejo Editame con toda</h1>
    {{name}}
    <br>
    <br>
    {% for el in group %}
        {{el}}
        <br>
    {% endfor %}
    <h2>init</h2>
    {% if exist %}
    <p>existe</p>
    {% else %}
    <p>desaparece</p>
    {% endif %}
    <form  action="/find/" method="GET">
        <input type="text" name="test">
        <button type="submit" >encuentra</button>
    </form>
    {{some}}
</body>
</html>